    <div class="navbar">

        <i class="fas fa-dice-d20 logo"></i>

        <ul class="nav justify-content-end">

            <li class="nav-item"> <a class="nav-link" href="/">Home</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/Stores">Pick Store</a> </li>
            <li class="nav-item logout"> <a class="nav-link" href="/SignIn">Sign-In</a> </li>

        </ul>
    </div>