<!--             
                {% if user.is_authenticated %}

                    <li class="nav-item"> <a class="nav-link" href="/Landing">Home</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/Stores">Pick Store</a> </li>
                    <li class="nav-item logout"> <a class="nav-link" href="/Logout">Logout</a> </li>

                {% else %} -->

                <li class="nav-item"> <a class="nav-link" href="/Landing">Home</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/Stores">Pick Store</a> </li>
                <li class="nav-item logout"> <a class="nav-link" href="/SignIn">Sign-In</a> </li>

                    
                <!-- {% endif %} -->