<%- include("partials/base.ejs"); %>

    <title>Error</title>
</head>

<body>

    <!-- Navbar -->
    <%- include("partials/navbar.ejs"); %>
    <div class="img-clouds_container">
        <img class="img-clouds" src="/assets/cloudyforest.jpg" alt="">
    </div>

    <div>You have an error</div>

    <a class="deco-none" href="/SignIn">Continue as Employee11111</a>
    <a class="deco-none" href="/Search">Browse as Guest111111</a>


</body>
</html>
