<%- include("partials/base.ejs"); %>

    <title>Error</title>
</head>

<body>

    <!-- Navbar -->
    <%- include("partials/navbar.ejs"); %>
    <div class="img-clouds_container">
        <img class="img-clouds" src="/assets/cloudyforest.jpg" alt="">
    </div>

    
    <div class="index-btn_container container-zi1">
        <div>This URL does not exist or the server had an error, please return to a previous page.</div>
        <hr class="error-hr">

        <a class="deco-none btn-error" href="/Search"> <i class="fas fa-angle-double-right"></i>&nbsp; Return to Inventory</a>
    </div>

</body>
</html>
