<%- include("partials/base.ejs"); %>

    <title>Error</title>
</head>

<body>

    <!-- Navbar -->
    <%- include("partials/navbar.ejs"); %>
    <div class="img-clouds_container">
        <img class="img-clouds" src="/assets/cloudyforest.jpg" alt="">
    </div>

    
    <div class="index-btn_container container-zi1">
        <div>This URL does not exist, please return to a previous page</div>

        <a class="deco-none" href="/Search">Product Index</a>
    </div>

</body>
</html>
