<%- include("partials/base.ejs"); %>

    <title>Home</title>
</head>

<body>

    <!-- Navbar -->
    <%- include("partials/navbar.ejs"); %>


<div class="video-container overlay">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="/assets/waves.mp4" type="video/mp4">
    </video>
    <!-- <iframe src="https://www.pexels.com/photo/waves-rushing-to-the-shore-1321208/ " type="video/mp4"" frameborder="0"></iframe> -->
</div>

<div class="container-zi1">
    <button></button>
        <a class="deco-none" href="/SignIn">Continue as Employee</a>
        <a class="deco-none" href="/Search">Browse as Guest</a>
</div>

</body>
</html>

<!-- "https://youtu.be/vJnYI9a9XAY" -->