<%- include("partials/base.ejs"); %>

    <title>Home</title>
</head>

<body>

    <!-- Navbar -->
    <%- include("partials/navbar.ejs"); %>


    <a class="deco-none" href="/SignIn">Continue as Employee</a>
    <a class="deco-none" href="/Search">Browse as Guest</a>



</body>
</html>
