<%- include("partials/base.ejs"); %>

    <title>Add Product</title>
</head>


<body>

    <!-- Navbar -->
    <%- include("partials/navbar.ejs"); %>

    <% if (error) { %>
        
        <h1> <%= error %> </h1>

    <% } %>

    <form action="/new" method="POST">
        <p>
            <input
                type="text"
                name="name"
                placeholder="Product Name>"
                value="Product name"
                required="required"
            />

            <input
                type="number"
                name="price"
                placeholder="Price"
                value="1"
                required="required"
            />

            <input
                type="text"
                name="img"
                placeholder="Image URL"
                value="url"
                required="required"
            />

            <input
                type="text"
                name="description"
                placeholder="Summary"
                value="A description"
                required="required"
            />

            <select name="type">
                <option>Activity Type</option>
                <option value="Camp">Camp</option>
                <option value="Water">Water</option>
                <option value="Climb">Climb</option>
            </select>

            <select name="type">
                <option>Store</option>
                <option value="San Diego">San Diego</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="San Francisco">San Francisco</option>
            </select>


        </p>

        <input type="submit" value="Add Product" />
    </form>

</body>
</html>