<%- include("partials/base.ejs"); %>

    <title>Add Product</title>
</head>


<body>

    <!-- Navbar -->
    <%- include("partials/navbar.ejs"); %>

    <% if (error) { %>
        
        <h1> <%= error %> </h1>

    <% } %>

    <div class="img-foggy-mtn_container">
        <img class="img-foggy-mtn" src="/assets/foggy-mtn.jpg" alt="">
    </div>

    <form class="form-edit-parent" action="/new" method="POST">
        <p class="form-field-description">Product Name: </p>
            <input class="form-field"
                type="text"
                name="name"
                placeholder="Product Name>"
                value="Osprey Tempest 34 Pack - Women's"
                required="required"
            />

            <p class="form-field-description">Product Price: </p>
            <input class="form-field"
                type="number"
                name="price"
                placeholder="Price"
                value="170"
                required="required"
            />

            <p class="form-field-description">Img URL: </p>   
            <input class="form-field"
                type="text"
                name="img"
                placeholder="Image URL"
                value="https://www.rei.com/media/d4a2e88c-ceed-4d87-bf26-3c0b8fd75b15?size=784x588"
                required="required"
                maxlength="100"
            />
            
            <p class="form-field-description">Product Description: </p> 
            <input class="form-field"
                type="text"
                name="description"
                placeholder="Summary"
                value="A description"
                required="required"
            />

            <p class="form-field-description">Activity Type: </p>  
            <select class="form-field field-dropdown" name="type">
                <option value="Camp">Camp</option>
                <option value="Water">Water</option>
                <option value="Climb">Climb</option>
            </select>

            <p class="form-field-description field-dropdown">Available in this store: </p>  
            <select class="form-field" name="store">
                <option value="San Diego">San Diego</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="San Francisco">San Francisco</option>
            </select>

        <input class="form-btn" type="submit" value="Add Product to Inventory" />
    </form>

</body>
</html>