<%- include("partials/base.ejs"); %>

    <title>Add Product</title>
</head>


<body>

    <!-- Navbar -->
    <%- include("partials/navbar.ejs"); %>

    <% if (error) { %>
        
        <h1> <%= error %> </h1>

    <% } %>

    <form action="/new" method="POST">
        <p>Product Name: 
            <input
                type="text"
                name="name"
                placeholder="Product Name>"
                value="Osprey Tempest 34 Pack - Women's"
                required="required"
            />

            Product Price: 
            <input
                type="number"
                name="price"
                placeholder="Price"
                value="170"
                required="required"
            />

            Img URL: 
            <input
                type="text"
                name="img"
                placeholder="Image URL"
                value="https://www.rei.com/media/d4a2e88c-ceed-4d87-bf26-3c0b8fd75b15?size=784x588"
                required="required"
            />
            
            Product Description: 
            <input
                type="text"
                name="description"
                placeholder="Summary"
                value="A description"
                required="required"
            />

            Activity Type: 
            <select name="type">
                <option value="Camp">Camp</option>
                <option value="Water">Water</option>
                <option value="Climb">Climb</option>
            </select>

            Available in this store: 
            <select name="store">
                <option value="San Diego">San Diego</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="San Francisco">San Francisco</option>
            </select>

        </p>

        <input type="submit" value="Add Product" />
    </form>

</body>
</html>