<%- include("partials/base.ejs"); %>

    <title>Add Product</title>
</head>


<body>

    <!-- Navbar -->
    <%- include("partials/navbar.ejs"); %>

    <% if (error) { %>
        
        <h1> <%= error %> </h1>

    <% } %>

    <form action="/new" method="POST">
        <p>
            <input
                type="text"
                name="name"
                placeholder="Product Name>"
                value="Product name"
            />

            <input
                type="text"
                name="price"
                placeholder="Price"
                value="1"
            />

            <input
                type="text"
                name="img"
                placeholder="Image URL"
                value="url"
            />

            <input
                type="text"
                name="description"
                placeholder="Summary"
                value="A description"
            />

            <input
                type="text"
                name="type"
                placeholder="placeholder"
                value="Camp"
            />

        </p>

        <input type="submit" value="Add Product" />
    </form>

</body>
</html>