<%- include("partials/base.ejs"); %>

    <title>Search</title>
</head>


<body>

    <header class="header">
        <nav class="navbar navbar-style">
            <div class="header-container">
                <div class="navbar-header">
                    <a href="">
                        <!-- <img class="logo" src="logo.png"> -->
                        <i class="fab fa-suse logo"></i>
                    </a>
                    <div>CompanyName</div>
                    <div>Corporate # 555-5555</div>
                    <a class="deco-none" href="">Nav thing</a>
                    <a class="deco-none" href="">Nav thing 2</a>
                </div>
            </div>
        </nav>
    </header>



    <section class="left-panel">

        <form action="">Form1</form>
        <form action="">Form1</form>
        <form action="">Form1</form>


    </section>


        
    <section class="right-panel">





    </section>



<footer>

</footer>



</body>
</html>