<%- include("partials/base.ejs"); %>

    <title>Search</title>
</head>


<body>


    <nav class="navbar navba-expand-sm navbar-light bg-light">


        <a href="#" class="navbar-brand mb-0 h1">
            <img class="d-inline-block align-top" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.sv" alt="" width="30" height="30"/>

            Navbar
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="#" class="nav-link">
                        Home
                    </a>
                </li>

                <li class="nav-item active">
                    <a href="#" class="nav-link">
                        Features
                    </a>
                </li>

                <li class="nav-item active">
                    <a href="#" class="nav-link">
                        Pricing
                    </a>
                </li>



            </ul>


        </div>

    </nav>



    <!-- <header class="header">
        <nav class="navbar navbar-style">
            <div class="header-container">
                <div class="navbar-header">
                    <a href="">
                        <!-- <img class="logo" src="logo.png"> -->
                        <!-- <i class="fab fa-suse logo"></i>
                    </a>
                    <div>CompanyName</div>
                    <div>Corporate # 555-5555</div>
                    <a class="deco-none" href="">Nav thing</a>
                    <a class="deco-none" href="">Nav thing 2</a>
                </div>
            </div>
        </nav>
    </header> --> -->



    <section class="left-panel">

        <form action="">Form1</form>
        <form action="">Form1</form>
        <form action="">Form1</form>


    </section>


        
    <section class="right-panel">





    </section>



<footer>

</footer>



</body>
</html>