<%- include("partials/base.ejs"); %>

    <title>Pick a Store</title>
</head>
<body>
    
    <div>

        <a href="">San Diego</a>
        <a href="">Los Angeles</a>
        <a href="">San Francisco</a>

    </div>
    
</body>
</html>