<%- include("partials/base.ejs"); %>

    <title>Pick a Store</title>
</head>
<body>
    
    <div class="stores-flexbox">

        <a class="deco-none" href="">San Diego</a>
        <a class="deco-none" href="">Los Angeles</a>
        <a class="deco-none" href="">San Francisco</a>

    </div>
    
</body>
</html>