* {
    max-width: 100%;
    max-height: 100%;

    margin: 0;
    padding: 0;

    box-sizing: border-box;

    text-decoration: none;

    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
}

.deco-none {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    background-color: rgb(255,255,255);
}

a:hover {
    cursor: pointer;
    cursor
}

/* Components +++++++++++++++++++++++++++++++++ */


    /* NavBar */
    .navbar {
        background-color: #222;
        color: rgb(234, 236, 233);
        height: 70px;
        margin-bottom: 40px;
    }

    .logo {
        /* font-size: 45px; */
        margin-left: 20px;
    }

    .nav-link {
        /* font-family: ; */
        font-size: 15px;
        font-weight: 500;
        margin-left: 35px;
        letter-spacing: 2px;
    }

    .logout {
        margin-right: 20px;
    }


/* Landing Page ================================ */


/* Pick Store ================================ */
.stores-flexbox {

}


/* Search Page ================================ */

.all-products-container {
    display: flex;
    flex-wrap: wrap;
}

.product-container {
    max-height: 35%;
    max-width: 25%;
}

.left-panel {

}

.right-panel {

}