* {
    max-width: 100%;
    max-height: 100%;

    margin: 0;
    padding: 0;

    box-sizing: border-box;

    text-decoration: none;

    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
}

.deco-none {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    background-color: rgb(255,255,255);
}

a:hover {
    cursor: pointer;
}

/* Components +++++++++++++++++++++++++++++++++ */


    /* NavBar */
.navbar {
    background-color: #222;
    color: rgb(234, 236, 233);
    height: 70px;
    margin-bottom: 40px;
    border-bottom: 4px solid green;
}

.logo {
    /* font-size: 45px; */
    margin-left: 20px;
}

.nav-link {
    /* font-family: ; */
    font-size: 15px;
    font-weight: 500;
    margin-left: 35px;
    letter-spacing: 2px;
}

.logout {
    margin-right: 20px;
}


/* Landing Page ================================ */


/* Pick Store ================================ */
.stores-flexbox {

}


/* Search Page ================================ */

.all-products-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}

.product-container-parent {
    height: 30%;
    width: 25%;

}

.product-container-child {

    align-items: center;
    /* justify-content: center; */
}

.product-name, .product-price {
    /* justify-content: center; */
    text-align: center;
}

.product-img {
    /* object-fit: cover; */
    width: 19%;
    height: 29%;
}

.product-name {
    text-align: center;
    margin-top: 8%;
    max-width: 125%;
    overflow: visible;
}

.product-price {
    text-align: center;
    margin-top: 2%;
}




.left-panel {

}

.right-panel {

}